#what .items {
    display: block;
}
#what .item {
    display: flex;
    text-align: left;
}

#what .item i {
    margin-right: 1.3rem;
   align-self: center;
   margin-bottom: 0;
}
 
.btn {
    width: auto;
}

/*Smartphones*/
@media screen and (max-width: 500px) {

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar h1 {
        margin-bottom: 0.5rem;
        text-align: center;
        
    }

    #navbar ul {
        padding: 0.5rem;
    }
    #showcase .showcase-content {
        top: 110px;
      
    }

    #who {
        display: block;
    }

    #who .who-img {
        display: none;
    }

    #clients .items img {
        width: 80%;
    }

    #clients .items div:last-child {
        display: none;
    }

    #contact {
        display: block;
    }

    #contact .map {
        height: 200px;
        border-top: 4px solid #333;
    }
}

@media screen and (max-height: 568px) {
    .l-heading {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.2rem;
    }
}